.no-margin > * {
    margin: 0 !important;
  }
  
  p.no-margin {
    margin: 0 !important;
  }
  .no-margin {
    margin: 0 !important;
  }

  .markdown-preview {
    font-size: inherit !important;
  }

  ::webkit-scrollbar-button { 
    display:none;
   }

   .wmde-markdown img { 
    border-radius: 7px !important;
    width: 150px !important;
  }
  
  .image-overlay:hover {
    opacity: 1 !important;
  }
  
  .message-container:hover .copy-button {
    opacity: 1 !important;
  }
  
  .image-hover:hover {
    opacity: 0.7 !important;
  }
  .wmde-markdown pre .copied {
    position: absolute !important;
    top: 6px !important;
    right: 6px !important;
    padding: 6px !important;
  }